**/*.tgz
**/*.tar
**/*.zip
**/*.gz
**/*.bz2
**/*~
**/*.so
**/*.d
**/*.pcm
**/\#*
**/*.root
**/*.log
**/*.err
**/*.o
**/*.out
**/*.zip
**/*.png
**/*.gif
**/*ACLiC*
**/*junk*
**/jobs/
ampt*.dat
**/*.oscar
**/*.f14
AutoDict*
logs/
CVS/
install/
Datasav/
**/run/Data/*
**/run/Dataold/*
smashtobnl/
eigen/
pythia8307/
smash-master/
urqmd-3.4/
urqmd-3.4_eos2/
urqmd-3.4_tmp/
_build/
tables.dat
tmp/
junk/
pythia-8.244mod/
jam-2.0056/
jam-1.90596/
